<div class="container py-5">
    <div class="row" style="padding: 2.5rem 1rem 3rem 1rem !important;">
      <div class="col-lg-10 mx-auto">
        <div class="card rounded shadow border-0">
          <div class="card-body bg-white rounded" style="padding: 5rem 3rem 3rem 3rem !important;">
            <div class="table-responsive">
                <table
                  id="example"
                  style="width: 100%"
                  class="table table-striped table-bordered"
                >
                  <thead>
                    <tr>
                        <th>Transaction No.</th>
                        <th>Transaction Type</th>
                        <th>Transaction Date</th>
                        <th>Item Code</th>
                        <th>Dscription</th>
                        <th>Quantity In</th>
                        <th>Quantity Out</th>
                        <th>Warehouse</th>
                        <th>Name</th>
                    </tr>
                  </thead>
                  <tbody id="tbody">
                    <% for(let i = 0; i < results.length; i++){ const item =
                    results[i] %> 
                    <tr>
                        <td id="td1-<%= item.id %>"><%= item.TransNum %></td>
                        <td id="td2-<%= item.id %>"><%= item.TRANSACTIONTYPE %></td>
                        <td id="td3-<%= item.id %>"><%= (new Date(item.DOCDATE)).toISOString().split('T')[0] %></td> 
                        <td id="td5-<%= item.id %>"><%= item.ItemCode %></td>          
                        <td id="td4-<%= item.id %>"><%= item.Dscription %></td>  
                        <td id="td6-<%= item.id %>"><%= item.InQty %></td>
                        <td id="td6-<%= item.id %>"><%= item.OutQty %></td>
                        <td id="td6-<%= item.id %>"><%= item.Warehouse %></td>
                        <td id="td6-<%= item.id %>"><%= item.U_NAME %></td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $("#example").DataTable();
    </script>
    